:root {
  /* spacing */
  --space-x: 1rem;
  --space-x-half: calc(var(--space-x) * 0.5);
  --space-x-double: calc(var(--space-x) * 2);
  --space-x-lg: 2rem;
  --space-y: 1.3rem;
  --space-y-half: calc(var(--space-y) * 0.5);
  --space-y-double: calc(var(--space-y) * 2);
  --space-y-lg: 2.5rem;

  --space-menu: 3.625rem;
  --space-page: 88px;

  /* container wrap sizes */
  --wrap: 1248px;
  --wrap-2xs: 400px;
  --wrap-xs: 640px;
  --wrap-sm: calc(var(--wrap-xs) + var(--space-x-double) * 2);

  /* forms */
  --input-size: 2.5em;

  /* buttons */
  --btn-height: 2.875em;
  --btn-space-x: 2em;
  --btn-space-y: 0.625em;

  /* header height */
  --header-height: 52px;
  --gradient-height: 72px;

  /* speeds */
  --speed-fast: 0.2s;
  --speed-normal: 0.3s;
  --speed-slow: 0.5s;
  --speed-xslow: 0.8s;
  --speed-snail: 1.25s;
  --speed-block: var(--speed-slow);
}

@screen md {
  :root {
    --space-x: 2.5rem;
    --space-y: 2.5rem;

    --space-menu: 5.625rem;
    --space-page: 126px;

    --header-height: 80px;
    --gradient-height: 120px;
  }
}

/* stylelint-disable selector-id-pattern */
html,
body,
#__next {
  height: 100%;
}
/* stylelint-enable selector-id-pattern */

::selection {
  color: white;
  background: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar,
.overflow-x-scroll::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body,
.overflow-x-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: theme('colors.white');
  font-family: theme('fontFamily.sans');
  font-size: theme('fontSize.base');
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.chakra-portal {
  position: relative;
  z-index: theme('zIndex.modal');
}

.intercom-lightweight-app-launcher {
  right: 0.625rem !important;
}

@media (min-width: 768px) {
  .intercom-lightweight-app-launcher {
    right: 2.5rem !important;
  }
}
