.link:focus {
  box-shadow: none;
  outline: 0;
}

.link:focus-visible,
.active {
  text-decoration: underline;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }

  .link:hover :global(> img),
  .link:hover :global(> svg) {
    border-bottom-color: currentcolor;
  }
}

.link:active {
  text-decoration: underline;
}